.actionBtns{
    padding: 20px;
}
.btn{
    margin-right: 5px;
}
.main-contact-list{
    border: 1px solid;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto

}
.mainForm{
    padding-top: 10px;
    height: 100%;
    width: 100%;
}
.textArea{
    padding-left: 30px;
    padding-bottom: 20px;
}
.contactFields{
    padding-left: 15px;
}
.dueDatField{
    padding-right: 23px;
}

.subjectField{
    padding-left: 30px;
}
ul#list{
    list-style-type: none;
    padding: 3px;
}
ul li{
    padding: 3px;
}

/* .container{
    display: flex;
    gap: 25%;
    padding-top: 50px;
    height: 75%;
}
ul#list{
    list-style-type: none;
}

.main-contact-list{
    padding: 20px;
    border: 1px solid;
    width: 30%;
    margin: 5px 5px;
    overflow-y: auto;
}
.main-contact-list h2{
    text-align: center;
}
.btn{
    margin: 5px 5px;
}
.formDetails{
    left: 0;
    position: relative;
    right: 0;
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    
}
input,textarea{
  display: inline-block;
  box-sizing:border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #d9d9d9;
  border-right-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
  border-left-color: #d9d9d9;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  background-color: #efefef;
  line-height: 1.38;
  color: #444444;
}
.actionBtns{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
input[type=text]{
    height: 80px;
	margin-top: 32px;
}
textarea {
	height: 150px;
	margin-top: 32px;
}
input[type=date]{
    padding-top: 10px;
} */
