<div class="container">



    <div class="main">
        <label for="name" class="nameLbl">Name</label>
        <li *ngFor="let contact of contacts; let i = index">
            {{contact.firstName}} {{contact.lastName}}
            <button (click)="edit(i)">Edit</button>
            <button (click)="delete(i)">Delete</button>
        </li>
    </div>


    <div class="form">

        <form [formGroup]="fg">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />

            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />

            <input type="email" class="form-control" formControlName="email" placeholder="Email" />

            <input type="text" class="form-control" formControlName="address1" placeholder="Address1" />

            <input type="text" class="form-control" formControlName="address2" placeholder="Address2" />

            <input type="text" class="form-control" formControlName="city" placeholder="City" />

            <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code" />

            <button (click)="saveContact()">Save</button>
            <button (click)="clear()">Clear</button>
        </form>

        <div class="activityForm">
            <app-activity></app-activity>
        </div>
    </div>