.main-contact-list{
    overflow-y: auto;
}

ul#list{
    list-style-type: none;
    padding: 3px;
}
ul li{
    padding: 3px;
}
.actionBtns{
    padding: 20px;
}
.btn{
    margin-right: 5px;
}
.contactListArea{
    border: 1px solid;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto
}
.centre-form{
    padding-top: 50px;
}
.secondColumn{
    padding-top: 50px;
}
.thirdColumn{
    padding-top: 50px;
}
/* .table{
    width: 250px;
    padding-left: 300px;
} */
.help-block{
    color: red;
}
.activtiy-table-content{
    padding-top: 10px;
    margin-left: auto;
  margin-right: auto;
   
}