<div class="container-fluid">
    <div class="activtiy-table-content">
        <div class="row justify-content-centre mt-5">
            <table class="table table-striped table-fixed">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{title}}</td>
                        <td>{{type}}</td>
                        <td>{{dueDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>