a:hover {
    color: hotpink;
}

.row{
    margin-left: 50px;
}
ul#list{
    list-style-type: none;
    display: inline;
}
a:link {
    text-decoration: none;
    margin: 10px 10px;
    font-size: larger;
}


